Flask==3.1.0
requests==2.32.4
beautifulsoup4==4.13.3
deep-translator
googletrans==4.0.0-rc1
gunicorn==23.0.0
flask-sqlalchemy==3.1.1
authlib==1.5.1
python-dotenv==1.2.1
opencv-python-headless==4.11.0.86
Werkzeug==3.1.4
SQLAlchemy==2.0.43
MarkupSafe==3.0.2
Jinja2==3.1.5
itsdangerous==2.2.0
click==8.1.8
